table{
    border-collapse: collapse;
    text-align: center;
    margin: 1%;
}
td,th{
    border: 1px solid grey;
    padding-top: 1%;
    padding-bottom: 1%;
}
.btn{
    background-color: rgb(41, 145, 214);
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.btn img{
    filter: invert(98%) sepia(11%) saturate(91%) hue-rotate(357deg) brightness(115%) contrast(100%);
}