body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: rgb(108,62,84);
    background: linear-gradient(90deg, rgba(108,62,84,1) 0%, rgba(21,21,74,1) 100%);}

/* Centramos el contenedor principal */
.container{
    width: 50%;
    margin: auto;
    margin-top: 10%;
}
.container h1{
    text-align: center;
}
.text{
    background-color: #313045;
    border-radius: 5px;
    width: 95.5%;
    border: 1px inset #2B2A3C;
    margin: 1%;
    padding: 2%;
}
.btn{
    background: #5B94D9;
    background: linear-gradient(180deg, #69ADDC 0%, #5B94D9 100%);
    width: 100%;
    padding: 2%;
    margin: 1%;
    text-align: center;
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(4, 35, 211);
}