{% extends 'base.html.twig' %}

{% block title %}Bienvenido a Mascota Sana!!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenido a Mascota Sana!! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li><a href="{{ path('app_cliente_index') }}">Gestion de Clientes</a></li>
        <li><a href="{{ path('app_mascota_index') }}">Gestion de Mascotas</a></li>
    </ul>
</div>
{% endblock %}
