<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="../static/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <!-- Barra de navegacion en comun -->
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="index/">Index</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="class-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#"></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#"></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#"></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#"></a>
                </li> 
              </ul>

              <form class="form-inline my-2 my-lg-0" action="">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</button>
              </form>
              <form class="form-inline my-2 my-lg-0" action="">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Sign In</button>
              </form>
            </div>
          </div>
        </nav>
    </header>
    <main>

    </main>
    <footer class="footer mt-aturo py-3 bg-body-tertiary">
        <div class="container">
            <span class="text-body-secondary">Buenos dias</span>
        </div>
    </footer>
</body>
